
.sidebar .sidebar-wrapper {
    overflow: unset;
}

.sub-dropdown-menu {
    display: none;
}

.dropdown-toggle:hover {
    display: block;
    background: red;
}

input.form-control, textarea.form-control, select.form-control {
    color: #333;
    border: 1px solid #eee;
}